<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GetEntitiesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53273/GetEntities.asmx" binding="basicHttpBinding"
                bindingConfiguration="GetEntitiesSoap" contract="ServiceReference.GetEntitiesSoap"
                name="GetEntitiesSoap" />
        </client>
    </system.serviceModel>
</configuration>